@import '../../globals.scss';
@import 'https://fonts.googleapis.com/css?family=Rubik';

.TopBar {
  background-color: $light-blue;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 75px;
  font-family: 'Rubik', sans-serif;

}

.Title {
  font-size: 36px;
  color: $dark-blue;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  width: 120px;
  padding: 12px 20px;
}